{% load static %}

{% csrf_token %}

<div class="password-modal" style="display: none;">
    <div class="password-header">
        <p>Пароль</p>
        <div class="save-password-button">
            <button type="button" id="savePasswordButton">
                <img src="{% static 'profile_app/icons/edit-password.svg' %}" alt="">        
            </button>
        </div>    
    </div>
    <label for="{{ password_form.password.id_for_label }}">Новий пароль</label>
    <div class="new-password">
        {{ password_form.password }}
        <img src="{% static 'profile_app/icons/eye-info.svg' %}" alt="">
    </div>
    <label for="{{ password_form.password.id_for_label }}">Підтвердіть новий пароль</label>
    <div class="password-ferevifaciton">
        {{ password_form.password }}
        <img src="{% static 'profile_app/icons/eye-info.svg' %}" alt="">
    </div>
</div>