{% include 'chat_app/particles/confirmation_modal.html' %}

<div class="group-container" style="display: none;">
    <!-- ` style="display: none;"` -->
    {% include 'chat_app/particles/add_member_modal/create_group.html' %}
    {% include 'chat_app/particles/add_member_modal/edit_group.html' %}
    {% include 'chat_app/particles/group_settings_modal/create_settings_group.html' %}
    {% include 'chat_app/particles/group_settings_modal/edit_settings_group.html' %}
    {% include 'chat_app/particles/chat_sections/chat_image_preview.html' %}
</div>