{% load static %}

<div id="confirmation-modal" class="confirmation-modal" style="display: none;">
    <div class="confirmation-modal-content">
        <h2 id="confirmation-title">Підтвердження</h2>
        <p id="confirmation-message">Ви впевнені?</p>
        
        <div class="confirmation-modal-buttons">
            <button type="button" id="confirmation-cancel-btn" class="confirmation-btn confirmation-btn--cancel">
                Скасувати
            </button>
            <button type="button" id="confirmation-confirm-btn" class="confirmation-btn confirmation-btn--confirm">
                Підтвердити
            </button>
        </div>
    </div>
</div>
