<section class="chat-content-section">
    <section class="contacts-section">
        {% include "chat_app/particles/chat_sections/contacts_section.html" %}
    </section>

    <section class="messages-section">
        <div class="message-info-container" id="message-info-container">
            <h1>Почніть нове спілкування</h1>
            <p>
                Оберіть контакт зі списку ліворуч
                <br>
                або створіть групу, щоб почати спілкування
            </p>
        </div>
        <div class="messages-users" id="messages-container" style="display: none;">
            {% include 'chat_app/particles/chat_sections/chat_main.html' %}
        </div>
    </section>

    <section class="chats-section">
        {% include "chat_app/particles/chat_sections/chats_section.html" %}
    </section>
</section>