<div class="profile-container"> 
    {% include 'particles/header_content.html' %}

    <div class="buttons-container">
        {% if section == "requests" %}
            <button type="button" data-friend-action data-url="{% url 'friend_action' user.id 'accept' %}">
                Підтвердити
            </button>
    
            <button type="button" data-friend-action data-url="{% url 'friend_action' user.id 'delete' %}">
                Відхилити
            </button>
    
        {% elif section == "recommendations" %}
            <button type="button" data-friend-action data-url="{% url 'friend_action' user.id 'add' %}">
                Додати
            </button>
    
            <button type="button" data-friend-action data-url="{% url 'friend_action' user.id 'dismiss' %}">
                Видалити
            </button>
        {% endif %}
    </div>
</div>