{% load static %}

<div class="group-members" id="create-name">
    <div class="name-input-container">
        <p>Назва</p>
        <div class="search-input-container"><input type="text" id="group-name" name="name" placeholder="Введіть назву"></div>
    </div>
    <div class="avatar-container">
        <div class="group-avatar-preview-wrapper">
            <img class="group-avatar-preview" src="{% static 'chat_app/icons/people.svg' %}" data-default-src="{% static 'chat_app/icons/people.svg' %}" alt="Аватар групи">
        </div>
        <div class="photo-action-container">
            <label class="photo-action-label">
                <input type="file" class="group-avatar-input" name="avatar" accept="image/*" hidden>
                <img src="{% static 'chat_app/icons/add-image.svg' %}" alt="" class="image-icon">
                <h3>Оберіть фото</h3>
            </label>
        </div>
    </div>


    <div class="group-members-list">
        <div class="group-members-list-header">
            <h1>Учасники</h1>
            {% if show_add_participant_button %}
                <button type="button" id="open-add-participant" class="secondary-button">Додати учасника</button>
            {% endif %}
        </div>
        <div class="members-list-view">
        </div>
    </div>
</div>