{% load static %}

<div class="group" id="edit-group-modal" style="display: none;">
    <div class="close-cross-container"><img src="{% static 'post_app/icons/close-cross.svg' %}" alt="close-cross" class="close-cross"></div>
    <h1>Редагування групи</h1>
    
    <form id="edit-group-form" enctype="multipart/form-data">
        {% include "chat_app/particles/group_settings_modal/add_settings.html" with show_add_participant_button=True %}

        <div class="button-container">
            <button type="button" id="cancel-edit-group">Назад</button>
            <button type="submit" class="next-button">Зберегти зміни</button>
        </div>
    </form>
</div>