nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 28vw;
    gap: 1.7vw;
}

nav p{
    font-size: 3.5vh;
    font-style: Bold;
    color: rgba(129, 129, 141, 1);
    cursor: pointer;
}

.select{
    color: #070A1C !important;
    cursor: default;

    border-bottom: 0.3vh solid #070A1C;
    padding-bottom: 0.5vh;

    font-weight: 700;
    font-style: Bold;
    font-size: 3.5vh;
    line-height: 100%;
    letter-spacing: -1%;
    text-align: center;
}

.text-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 18vw;
    height: 2.7vh;
    
    color: #070A1C;
    font-size: 1.6vw;
}

div form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 27.7vw;
    gap: 1.7vh;

    /* border: 0.1vw solid #070A1C;
    border-radius: 1234px; */
}

form p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

div form button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    width: 27vw;
    height: 5.4vh;
    gap: 0.8vh;
    
    border-radius: 1234px;
    background-color: #543C52;
    
    color: #FFFFFF;
    font-size: 1.6vh;
}

div form label{
    font-size: 1.1vw;
    color: #070A1C;
}

div form input{
    width: 27.7vw;
    height: 4.4vh;
    padding-left: 1.1vw;
    gap: 1.04vh;

    border-radius: 10px;
    border: 0.1vh solid #CDCED2;
}

form ::placeholder{
    color: #81818D;
}

nav .login, nav .register{
    color: #81818D;
    cursor: pointer;
}

.section-register, .section-login, .section-confirm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 31vw;
    height: fit-content; /* 56vh */
    padding: 3vw;

    gap: 4vh;
    z-index: 5;

    border-radius: 20px;

    background-color: #FFFFFF;

}


/* ----- Login form ----- */

.section-login{
    display: none;
}

/* ----- Confirm email form ----- */

.section-confirm{
    display: none;
}

.section-confirm h2{
    color: #070A1C;
    font-size: 3.5vh;
}

.section-confirm>p, form .back{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    width: 24vw;

    font-size: 1.1vw;
    color: #070A1C;
}

.section-confirm form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 3.6vh;
}

.section-confirm form .code-label{
    font-weight: 400;
    font-size: 1vw;
    line-height: 100%;
    letter-spacing: -0.7%;
}

.code-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 27.7vw;
    height: 5.4vh;

    gap: 1vw;
}

.code-inputs div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 27.7vw;

    gap: 1vw;
}

.code-input {
    padding-left: 0.75vw;

    width: 3.5vw;
    height: 5.1vh;

    font-size: 1.7vw;
}

.code-input::placeholder{
    font-size: 1vw;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 27.7vw;

    gap: 1vw;
}

.back{
    cursor: pointer;
}

